@import 'assets/styles/variables';
@import 'assets/styles/breakpoints';

.PokemonCard {
    width: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
    overflow-x: clip;

    img {
        max-height: 150px;
        margin-top: 15px;
    }

    .content {
        padding: 8px;

        .type {
            text-align: center;
            padding: 4px;
            border: 3px solid black;
            max-width: fit-content;
            margin: 0 auto;
            border-radius: 5px;
        }
    }
}